<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Custom Font  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i&display=swap" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="css/about.css">

    <title>About Myclopedia</title>
</head>
<body>
    <h1>About Myclopedia</h1>
    <div class="container">
        <p>Hi, I am Pawandeep the developer of the site. As I was learning new words
            , there was no good way to store my learnt words somewhere and refer to them easily.That's 
            where I thought of Myclopedia.
        </p>
        <p>This site is developed using React, Node.js and using MongoDB as backend database.</p>
        <p>API used to search words: <a target="_blank" href="http://developer.oxforddictionaries.com">developer.oxforddictionaries.com</a></p>
    </div>
    
    <footer>
            <a href="/">Back to Search</a>
    </footer>
   
</body>
</html>
